{% extends 'base.html'%} {% load static %} {% block content %}

<section>
  <div class="container">
    <div class="service-header">
      <h5>Services</h5>
      <p>
        From proactive security monitoring to secure network architecture design, our services are tailored to fortify your organization against emerging cyber threats and keep your data safe.
      </p>
    </div>
  </div>
</section>

<div class="container">
  <!-- Buttons -->
  <a
    class=""
    data-mdb-toggle="collapse"
    href="#collapsefirst"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <h4>IT Service</h4>
    <p>
      "My computer should work flawlessly." - you hear that many times from
      computer users. Understandable, because that's what we ask of all
      technical achievements that surround us. Apart from that, there is hardly
      a system of this type that requires significant maintenance like an IT
      system. This is because IT systems are complex and versatile complete
      solutions. Above all, however, because computer systems are constantly
      changing: be it on the part of technological progress or continuous
      information processing on the part of users. This makes consistent system
      maintenance and monitoring even more important in order to prevent
      malfunctions and identify emerging irritations in good time.....
      <a
        data-mdb-toggle="collapse"
        href="#collapsefirst"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        ><strong>Read more</strong></a
      >
    </p>
  </a>

  <!-- content -->
  <div class="collapse mt-5 mb-5" id="collapsefirst">
    <strong> We offer IT system support as a managed service. </strong>
    <div class="row mt-4">
      <div class="col-md-6 mt-3">
        <h4 class="col-heading">What does that mean?</h4>
        <p class="col-para">
          Our experienced technicians look after your IT systems using
          management software and are thus optimally reported on the "health
          status" of your IT environment at all times. That way, when annoyance
          arises, we experience it many times before you even grasp it. This
          enables us to act sufficiently early on and prevent the problem from
          escalating. In addition, we can automate specific routine tasks and
          consequently offer them to you more cost-effectively than if we were
          to do everything “on foot”. Should the situation require the personal
          presence of a technician, we would be happy to sit down with you and
          create a maintenance plan tailored to you.
        </p>
      </div>
      <div class="col-md-6 mt-3">
        <h4 class="col-heading">We do that for you</h4>
        <p class="col-para">
          Together with you, we select the appropriate from a range of services
          for the ideal operation of your IT systems, e.g.
        </p>
        <ul>
          <li>Remote support</li>
          <li>Patch management</li>
          <li>
            Security updates and other essential updates are set up
            automatically.
          </li>
          <li>Monitoring</li>
          <li>Monitor the event logs of your servers and computers.</li>
          <li>Backup monitoring</li>
          <li>
            We check your data backup to ensure that the process works
            periodically and completely
          </li>
          <li>Purchasing & assembly</li>
          <li>
            Should you need newfangled system components or peripherals, we will
            be happy to take over for you
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 px-2">
        <p class="col-para">
          We offer selected product packages for server and client computers.
          With our managed services, we keep an eye on your entire IT landscape
          at all times. Upon request, you will automatically receive a user
          account for our control center and can get an overview of the health
          of your systems at any time.
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="container text-center mt-4">
    <div class="row">
      <a href="">
        <img class="centered-image" src="{% static 'img/7.png' %}" alt="Reference image" style=" width: 50%;" >

      </a>
    </div>
  </div>
  
  <!-- 2 Buttons -->
  <a
    class=""
    data-mdb-toggle="collapse"
    href="#collapsesecond"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <h4>Managed security</h4>
    <p>
      Services is the keyword under which companies can put the maintenance of
      their firewall systems and SPAM protection solutions in the hands of a
      certified IT service provider. CyberOptics always has a complete overview
      of the systems via monitoring and automation systems, controls maintenance
      work remotely and can also provide quick assistance to users via remote
      maintenance tools....
      <a
        data-mdb-toggle="collapse"
        href="#collapsesecond"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        ><strong>Read more</strong></a
      >
    </p>
  </a>

  <!--content -->
  <div class="collapse mt-3" id="collapsesecond">
    <div class="row">
      <div class="col-md-8">
        <h4 class="col-heading mt-3">
          "ONE” PROFESSIONAL SOLUTION FOR ALL COMPANIES!
        </h4>
        <ul>
          <li>Proactive device monitoring and alerting</li>
          <li>Centralized security and network management</li>
          <li>Universal dashboard for customizable, user-centered reporting</li>
          <li>Intelligent reporting and visualization of activities</li>
          <li>Control center logging</li>
          <li>Application traffic analyzes</li>
          <li>Flexible application options</li>
          <li>Extensive cross-platform support</li>
          <li>Offline management of Firewall systems</li>
          <li>Daily backup of the firewall</li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 px-4">
        <p class="col-para">
          configuration - Efficient VPN connection of locally distributed branch
          firewalls With Certificus ™ WebCheck, companies of all types and sizes
          can scan their websites and digital platforms for malicious code and
          weak points in networks, web applications and SSL certificates. The
          daily check of your website is based on the award-winning and globally
          leading technology from Qualys.
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="container text-center mt-4">
    <div class="row">
      <a href="">
        <img class="centered-image" src="{% static 'img/5.gif' %}" alt="Reference image" style="width: 50%;" >

      </a>
    </div>
  </div>
  
  <!--  3 Buttons  -->
  <a
    class=""
    data-mdb-toggle="collapse"
    href="#collapsethird"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <h4>eSecurity Check</h4>
    <p>
      A wide range of products for your requirements together with our clients,
      we have long since successfully completed many different kinds of
      undertakings. Benefit from our specialist knowledge as well as many other
      clients before you. We would be happy to sit down with you and create a
      program for your implementation....
      <a
        data-mdb-toggle="collapse"
        href="#collapsethird"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        ><strong>Read more</strong></a
      >
    </p>
  </a>

  <!-- Collapsed content -->
  <div class="collapse mt-3" id="collapsethird">
    <div class="row">
      <div class="col-md-6">
        <h4 class="col-heading mt-3">What does that mean?</h4>
        <ul>
          <li>Comprehensive examination of the IT network on site</li>
          <li>
            Non-intrusive scan of the WAN and LAN side of your network using
            certified scanners
          </li>
          <li>
            Assessment of the setting and evaluation of the existing security
            measures
          </li>
          <li>
            Annotated investigation of the current network security situation
          </li>
          <li>
            Instructions for eliminating the weak points - on request in
            cooperation with your IT department
          </li>
          <li>Final investigation and documentation</li>
          <li>Experienced IT consultants in a small but strong group</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4 class="col-heading mt-3">We offer you</h4>
        <ul>
          <li>
            Expertise in understanding with many years of experience in the IT
            industry
          </li>
          <li>Technological expertise and innovative solutions</li>
          <li>Consistent IT concept</li>
          <li>Calculable costs</li>
          <li>Security and Availability</li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 px-4">
        <p class="col-para">
          At CyberOptics, experienced and competent IT consultants are at your
          disposal would be happy to assist you in developing a solution
          tailored to your requirements
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center mt-4">
    <div class="row">
      <!-- <div class="col-md-6 text-center" id="image"> -->
        <a href="https://www.darktrace.com/">
          <img class="centered-image" src="{% static 'img/gold.png' %}" alt="Reference image" style="height: 250px; width: 50%;" >
        </a>
      <!-- </div> -->
      
    </div>
  </div>
<!-- 4 button  -->

  <a
  class=""
  data-mdb-toggle="collapse"
  href="#collapsefourth"
  role="button"
  aria-expanded="false"
  aria-controls="collapseExample"
  >
  <h4>Firewall systems!</h4>
  <p>
    <h6>
        Do you want to protect yourself from online threats? <br>
    </h6>
    We are happy to advise, deliver and support you in line with your requirements and offer results that are suitable for dialogue....
    <a
      class="anchor"
      data-mdb-toggle="collapse"
      href="#collapsefourth"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
      ><strong>Read more</strong></a
    >
  </p>
  </a>

  <!-- Collapsed content -->
  <div class="collapse mt-3" id="collapsefourth">
    <div class="row">
          <div class="col-md-8">
              <!-- <h4 class="col-heading mt-3">What does that mean?</h4> -->
              <ul>
                  <li>Manage streaming video</li>
                  <li>Group-based bandwidth management</li>
                  <li>Checking on outgoing web mail</li>
                  <li>Use predefined applications</li>
                  <li>Blocking FTP Uploads</li>
                  <li>Review via P2P applications</li>
                  <li>Manage streaming music files</li>
                  <li>Prioritization of bandwidth for applications</li>
                  <li>Blocking intimate documents</li>
                  <li>Block prohibited files with warning message</li>

              </ul>
          </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 px-4">
        <p class="col-para">
          <strong>
              Do you know dangerous situations in your IT infrastructure?<br>
              Get certainty with a vulnerability scan! <br>
              We are happy to answer any questions you may have about these projects!
          </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center mt-4">
    <div class="row">
      <!-- <div class="col-md-6 text-center" id="image"> -->
        <a href="https://pdfhost.io/v/~kZC8hGeG_be37d6cace76d45de4a981571b091f4a">
          <img class="centered-image" src="{% static 'img/8.jpg' %}" alt="Reference image" style="width: 50%;" >
        </a>
      <!-- </div> -->
      
    </div>
  </div>

</div>

{% endblock %}
