{% extends 'base.html'%} {% load static %} {% block content %}

<div class="container">
    <h2 id="terms-heading">Imprint</h2>
    <p>

        CyberOptics GmbH <br>
        Griesstraße 6 <br>
        4600 Wels <br>
        Austria <br>

        <div class="teli">
            Tel: <span> +44 800 86 111 02</span>  <br>
            Email: <span> office@cyberoptics.vision</span>  <br>
            Web: <span>www.cyberoptics.vision</span>   <br>

        </div>

        <div class="teli">
            Registered office: Vienna <br>
            Managing Director: Ludwig Pein M. Sc. <br>
            Companies registry number: FN  451638z <br>
            Registry court: Commercial Court of Vienna <br>
        </div>

        <div class="teli">
            VAT identification number: ATU70952579 <br>
            Object of the company: Providing automatic data processing and information technology services. <br>
            Professional regulations: Austrian Trade Regulation Act (Gewerbeordnung; <a href="https://www.ris.bka.gv.at/">www.ris.bka.gv.at</a>) <br>
            Member of the Chamber of Commerce in Vienna <br>

        </div>
    </p>

    <h2 id="terms-head">Terms of Use</h2>
    <p>
        CyberOptics GmbH (hereinafter referred to in short as “CyberOptics”, with the registered brand name CyberSoft GmbH) only allows you to use (access, store on a local hard drive or print) the CyberOptics website(s) upon accepting the following conditions:
        <ol>
            <li>
                Unless otherwise noted, CyberOptics is the sole owner and copyright holder of the information and documents presented on the CyberOptics website(s). Use of the CyberOptics website(s), the related webpages, documents, and files is only allowed for personal information purposes; linking, storage or reproduction of the contents in other websites, in other electronic, digital or other media or systems, as well as any reproduction, processing or commercial use requires the express, prior, and written consent of CyberOptics .
            </li>
            <li>
                CyberOptics employs the usual care to ensure that the information on the CyberOptics website(s) is correct and up-to-date. Nevertheless, no guaranty is made for the availability, completeness, accuracy, and up-to-dateness. CyberOptics reserves the right to make amendments or supplements to the information provided at any time, without prior notice. CyberOptics undertakes no warranty or liability for any direct or indirect damages occurring in relation to any use of the CyberOptics website(s).
            </li>
            <li class="tab">
                The website <a href="https://cyberoptics.vision/"> cyberoptics.vision</a> by CyberOptics and the information provided have been carefully elaborated for general information purposes only. However, they are not intended or able to serve as a source of legal advice in individual cases. We therefore assume no liability that the provided information is correct, up-to-date or accurate. Furthermore, CyberOptics shall not be liable for any links to external websites operated by third parties.
            </li>
            <li class="tab">
                All of the brands and logos used and displayed on the website <a href="https://cyberoptics.vision/"> cyberoptics.vision</a> and the related trademark rights belong to CyberOptics GmbH or the holder(s) of the rights shown in each case. Use of these company marks is expressly forbidden, regardless of whether a corresponding ® or ™ is displayed.
            </li>
            <li>
                Links to other internet content should not be understood as a recommendation by CyberOptics of the company, product or services in question. The relevant website operators are solely responsible for the contents of such websites. CyberOptics undertakes no liability for the websites of other providers and for any information contained on such websites. Users shall use the connections to this website and its contents at their own risk and in accordance with the terms of use valid for this website.
            </li>
            <li>
                Insofar as personal data is not involved, all parties which use the CyberOptics website(s) and provide information to CyberOptics consent to CyberOptics obtaining unrestricted right to this information and to CyberOptics being able to use this information in any manner desired. Confidentiality does not apply to the information provided by the user.
            </li>
            <li>
                Austrian law shall apply exclusively to all legal claims related to the CyberOptics website(s) or the use of such. Applicability of the Convention of the United Nations on Contracts for the International Sale of Goods (CISG) and the standards of international private law is expressly precluded. The competent court in Vienna, Austria shall be the legal venue.
            </li>
            <li class="tab">
                The content on the website  <a href="https://cyberoptics.vision/" >cyberoptics.vision</a> is addressed to both male and female users alike.
            </li>
        </ol>
    </p>
</div>
{% endblock %} 
